#titulo{
	text-align: center;

}

#principal td:first-child{
	text-align: center;
	
}

img{
	border-radius: 10px;
	
}
tr{
  	border-bottom: 15px solid white;	
  	
}


td{
	background-color: #c6c6c6;
	
	
	
}


table td:last-child{
	width: 90%;
    
}

p{
	margin: 0px;
	
}
.colorVino{
	color: #5e2129;
	
}
.colorVinoClaro{
	color: #722f37;
	
}
.colorNav{
	background-color: #e5e5e5
	
}



